.spring {
    background-color: rgb(255, 240, 166);
}

.summer {
    background-color: rgb(119, 113, 221);
}

.fall {
    background-color: rgb(251, 160, 117);
}

.urim {
    background-color: rgb(173, 196, 196);
}