#season {
    max-width: 600px;
    height: 600px;
    display: grid;
    /* grid-template-columns: 50% 50%; */
    /* grid-template-columns: repeat(2, 50%); */
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 30% 70%;
}

.spring {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gold;
}

.summer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
}

.fall {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: crimson;
}

.urim {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}